body {
    background-attachment: fixed;
    font-family: 'Crimson Text', serif;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {

    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

.flash {
    padding: 10px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.flash-success {
    background-color: darkseagreen;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}

img {
    max-width: 100%;
}

main {
    flex: 1;
}

label{
    display: block;
}

.form_sortie {
    margin-bottom: 1em;
    box-sizing: border-box;
    max-width: 75%;
    width:13em ;
}


