<nav>
    <ul>
        {% if is_granted("ROLE_ADMIN") %}
            <li><a href="#" title="Villes">Villes</a></li>
            <li><a href="#" title="Campus">Campus</a></li>
        {% endif %}



        {% if app.user %}

            <li><a href="{{ path('accueil') }}" title="Accueil">Accueil</a></li>

            <li><a href="{{ path('profil') }}" title="profil">Mon Profil</a></li>

            <li><a href="{{ path('app_logout') }}" title="Logout">Se déconnecter</a></li>

        {% endif %}
    </ul>
</nav>