<nav>
    <ul>
        {% if is_granted("ROLE_ADMIN") %}
            <li><a href="{{ path('') }}" title="Villes">Villes</a></li>
            <li><a href="{{ path('') }}" title="Campus">Campus</a></li>
        {% endif %}
        <li><a href="{{ path('accueil') }}" title="Accueil">Accueil</a></li>

        <li><a href="#" title="profil">Mon Profil</a></li>

        <li><a href="{{ path('app_logout') }}" title="Logout">Se déconnecter</a></li>

    </ul>
</nav>